<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about.html</title>
</head>
<body>
    <!--This is the header for my page -->
    <h1> Learn more about me, Esha Raman!</h1>

    <!--This section of code will discuss my childhood and where I grew up-->
    <h2>Where I grew up</h2>
        <p>I was born in Edison, New Jersey, but spent a majority of my life in <em>West Windsor, New Jersey</em>. Regardless, I was born and raised in New Jersey, the <strong>best</strong> state.</p>

    <!--This section of code will discuss where I go to college-->
    <h2>Where I go to college</h2>
        <p>I go to college at the <strong>University of Maryland, College Park</strong>. I am a <em>senior</em> and will be graduating in May.</p>

    <!--This section of code creates a list to display my favorite movies-->
    <h2>My favorite movies:</h2>
        <ul>
            <li>Cheaper by the Dozen</li>
            <li>Any Harry Potter Movie</li>
            <li>Despicable Me</li>
            <li>Now You See Me</li>
        </ul>

    <!--This section of code  creates a list to display my favorite foods-->
    <h2>My favorite foods:</h2>
        <ol>
            <li>Pasta</li>
            <li>Cheese</li>
            <li>Cheesecake</li>
            <li>French Fries</li>
        </ol>

    <!--This section of code creates a table to display the course I have taken at UMD along with the semester I took them in-->
    <H2>Courses taken at UMD:</H2>
        <table>
            <tr>
                <th>Course Name</th>
                <th>Semester Taken</th>
            </tr>
            <tr>
                <td>BMGT301</td>
                <td> Fall 2021</td>
            </tr>
            <tr>
                <td>BMGT302</td>
                <td>Spring 2021</td>
            </tr>
            <tr>
                <td>BMGT402</td>
                <td>Fall 2022</td>
            </tr>
            <tr>
                <td>BMGT407</td>
                <td>Currently taking - Spring 2023</td>
            </tr>
        </table>

    <!--This section of code links website users to my hello page which I made in the past -->
    <H2>View my hello page</H2>
        <p>Here is the <a href = "/hello">link</a>.</p>

    <!--This section of code links website users to a few of my favorite websites -->
    <h2>View some of my favorite websites:</h2>
        <ul>
            <li> <p>Zara: Here is the <a href = "https://www.zara.com">link</a>.</p></li>
            <li> <p>Linkedin: Here is the <a href = "https://www.linkedin.com/in/esha-raman-0647131b4/" target = "_blank">link</a>.</p></li>
        </ul>

    <!--This section of code inserts the RH Smith logo on my website-->
     <H2>View the Robert H. Smith Business School Logo Below: </H2>
        <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">

</body>
</html>